<div fxLayout="column" fxLayoutAlign="start stretch" xmlns="http://www.w3.org/1999/html">
    <!--  Header  -->
    <a href="https://www.fernuni-hagen.de/ilovepetrinets/"><h1>I <span class="red">❤</span> Petri Nets</h1></a>
    <h2>Show a transition system</h2>

    <!--    Main content    -->
    <app-display class="padding full-size" id="canvasDisplay"></app-display>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <app-upload-button appDnd (fileDropped)="onFileDropped($event)" (click)="fileInput.click()" buttonIcon="upload"></app-upload-button>
        <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
        <mat-form-field appearance="outline"
                        class="textarea" [style.width.px]=250>
            <mat-label>Source file</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="10"
                      cdkAutosizeMaxRows="50"
                      [formControl]="textareaFc"></textarea>
            <label (click)="refreshGraph()">Rearrange</label>&nbsp;
            <label  (click)="resetToDefault()">Default</label>
        </mat-form-field>
        <app-graph-properties-button style="cursor: pointer" buttonText="Show/Hide Properties" (click)="showHideProperties()" buttonIcon="highlight"></app-graph-properties-button>
        <app-download-button buttonText="Download File" buttonIcon="download"></app-download-button>
    </div>

    <!--  Footer  -->
    <hr>
    <app-footer></app-footer>
</div>
