<div class="container">
    <div fxLayout="column" fxLayoutAlign="start center"
         (mouseenter)="hoverStart($event)"
         (mouseleave)="hoverEnd($event)">
        <mat-icon class="larger-icon">
            {{buttonIcon}}
        </mat-icon>
    </div>

    <h3 style="text-align: center">{{buttonText}}</h3>
    <a style="text-align: center">----------Color legend-----------</a><br>
    <a style="text-align: center"></a><br>
    <label style ="background-color: yellow; alignment: left"></label>&nbsp;Start node<br>
    <label style ="background-color: red"></label>&nbsp;Deadlock<br>
    <label style ="background-color: skyblue"></label>&nbsp;Cycle element<br>
    <label style ="background-color: orange"></label>&nbsp;Mortal transition/label<br>
    <label style ="background-color: lightgray"></label>&nbsp;Not reachable element<br>
</div>
