<div fxLayout="column" fxLayoutAlign="start center">
    {{buttonText}}
    <div class="interactive-square" fxLayout="row" fxLayoutAlign="center center"
         (mouseenter)="hoverStart($event)"
         (mouseleave)="hoverEnd($event)">
        <mat-icon class="larger-icon">
            {{buttonIcon}}
        </mat-icon>
        <button title="Start node: yellow, Deadlocks: red, Cycles: blue, Mortal edges: orange, Mortal transitions orange, Not reachable elements: grey">Hover to see color legend</button>
    </div>
</div>
